spring:
  sql:
    init:
      mode: never
      platform: h2
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: false
    show-sql: true
    flyway:
      enabled: true

telegram:
  bot:
    username: your_bot_username
    token: your_bot_token
